<% if reservation %>
  <span class="label important"><%= t('.reservation.status_reserved', email: reservation.user.email) %></span>
<% else %>
  <span class="label success"><%= t('.reservation.status_free') %></span>
<% end %>